#previewer-wrapper {
  background-color: white;
  height: calc(100vh - calc(20px + 38px));
  padding: 20px;
  position: relative;

  .label {
    background: #f2921d;
  }
}

#previewer {
  width: 100%;
  height: 100%;
  border: 2px solid #f2921d;
  border-radius: 20px;
  padding: 20px;
  word-wrap: break-word;

  &:focus {
    outline: 0;
  }
}

@media (max-width: 778px) {
  #previewer-wrapper {
    padding: 10px;
  }
}
