#previewer-wrapper {
  background-color: white;
  height: calc(100vh - 20px);
  padding: 20px;
}

#previewer {
  width: 100%;
  height: 100%;
  border: 2px solid #f2921d;
  border-radius: 20px;
  padding: 20px;
  resize: none;

  &:focus {
    outline: 0;
  }
}

@media (max-width: 778) {
  #previewer-wrapper {
    padding: 10px;
  }
}

@media (max-width: 360px) {
  #previewer-wrapper {
    padding: 3px;
  }

  #previewer {
    border-radius: 15px;
    padding: 15px;
  }
}
