@import 'styles/global.scss';

#App {
  padding: 10px;

  #app-title-wrapper {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    height: 38px;
  }
}

@media (max-width: 778px) {
  #App {
    #app-title-wrapper {
      height: auto;
    }
  }
}
